/* Ajuste de margin top no index para notebooks */
@media (max-height: 650px) {
  .content-container {
    margin-top: 70px;
  }
}
/* Desktop */
@media (min-width: 1024px) {
  /* Faz com que certos elementos do mobile não apareçam no desktop */
  header nav .mobile-menu,
  .content-container .about-me-container #projects-btn-container-mobile,
  .content-container .about-me-container .about-me .text-container #text-mobile,
  #cv-btn-container-mobile,
  .text-mobile {
    display: none;
  }

  /* Cabecalho */
  header nav {
    margin: 17px 118px 0px 76px;
  }
  header nav .nav-list {
    display: flex;
    justify-content: space-between;
    width: 475px;
  }

  .name,
  .second-name {
    font-size: 1.5rem;
  }
  .list-option a {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #000;
    transition: transform 0.4s ease;
  }

  .list-option a:hover {
    transform: scale(1.2);
  }

  .list-option a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #000;
    transition: width 0.3s ease;
  }

  #index-option::after {
    background-color: #0b2b67;
  }

  .list-option a:hover::after {
    width: 100%;
  }

  #index-option {
    color: #0b2b67;
  }

  /* Conteudo principal */
  /* O conteúdo principal cresce, o footer vai pro fim */
  .content-container {
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-me-container {
    display: flex;
    margin: 0px 96px;
    width: 100%;
  }

  /* Caixa da imagem e redes sociais */
  .my-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 140px;
    background-color: rgba(182, 182, 223, 1);
    border-radius: 50px;
    box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.25);
    min-width: 550px;
    max-height: 800px; /* ajuste conforme seu layout */
  }

  .img-container {
    margin-top: 43px;
  }
  .my-img {
    margin-bottom: 30px;
  }

  /* Caixa dos contatos no desktop */
  .technology-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: auto;
    margin-top: 10px;
  }
  .technology-container-desktop {
    display: flex;
    width: 50%;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }

  .technology-logo img {
    width: 30px;
  }

  .rede-social-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 0px 0px 50px 50px;
    width: 100%;
    height: 6rem;
    margin-top: 40px;
  }
  .rede-social-container a {
    display: flex;
    justify-content: center;
  }

  .rede-social-container a img {
    width: 50px;
  }

  .rede-social-icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
  }
  .rede-social-icon-box:hover {
    transform: scale(1.2);
  }

  .rede-social-icon-box p {
    color: #000046;
  }

  /* Caixa do texto sobre mim */
  .about-me {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-top: 10px;
  }

  /* Titulo da caixa de texto */
  .title-container h1 {
    font-family: "Outfit-Bold";
    font-size: 3rem;
  }
  .title-container p {
    font-family: "Outfit-Regular";
    font-size: 1.3rem;
    text-transform: uppercase;
  }
  .text-container {
    margin: 20px 0px;
  }

  #text-desktop p {
    font-family: "Outfit-Light";
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 5px;
  }
  .about-me-btn-box {
    display: flex;
    gap: 20px;
  }

  .projects-btn-container-desktop {
    background-color: #ffffff;
    border: 1.5px solid #000046;
    border-radius: 50px;
    transition: transform 0.3s ease;
    width: 90px;
    text-align: center;
    margin: 5px 0px 25px 0px;
    padding: 4px 15px;
    box-shadow: 2px 3px 5px hsla(0, 0%, 0%, 0.25);
  }

  .projects-btn-container-desktop:hover {
    transform: scale(1.2);
  }

  .projects-btn-container-desktop a {
    text-transform: uppercase;
    color: #000;
  }
  .about-me-btn-box #btn-resume,
  #btn-resume a {
    background-color: #000046;
    color: #fff;
  }
  /* Rodapé */
  .footer-container {
    height: 36px;
    background-color: #000046;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .footer-container a {
    color: #fff;
    font-family: "Outfit-Light";
    margin: 0px 20px;
  }
}

/* Mobile */
/* Cabecalho */
@media (max-width: 1023px) {
  html,
  body {
    overflow-x: hidden;
  }
  header {
    z-index: 1000; /* para ficar acima dos outros elementos */
  }

  .content-container {
    background-image: url(../../img/backgrund-mobile.png);
    background-size: cover;
  }
  .projects-btn-container-desktop,
  #text-desktop,
  .contacts-container-desktop,
  .rede-social-icon-box p {
    display: none; /* Faz com que certos elementos do desktop não apareçam no mobile */
  }

  .name,
  .second-name {
    font-size: 1.5rem;
  }

  .mobile-menu {
    display: flex;
    justify-items: center;
    align-content: center;
  }

  .menu-icon {
    color: #ffffff;
    width: 35px;
    padding: 10px;
    transition: transform 0.3s ease;
  }

  .menu-icon:hover {
    cursor: pointer;
  }

  .nav-list {
    position: absolute;
    top: 8.5vh;
    right: 0;
    width: 25vh;
    height: 30vh;
    background-color: rgb(0, 0, 70);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    overflow: hidden;
    max-width: 0;
    padding: 0;
    border: none;
    transition: max-width 0.3s ease, padding 0.3s ease;
  }

  .nav-list.active {
    display: flex;
    max-width: 30vh;
    margin-right: 3vh;
  }

  .nav-list li {
    display: flex;
    margin: 0px;
    opacity: 0;
  }
  .nav-list li a {
    font-family: "Outfit-Regular";
    text-transform: uppercase;
    color: #ffffff;
    font-size: 0.9rem;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .mobile-menu.active .menu-icon {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
  }

  /* Corpo da pagina */
  .content-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Caixa da imagem e redes sociais */

  .my-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(182, 182, 223, 0.712);
    box-shadow: 5px 2px 5px hsla(0, 0%, 0%, 0.25);
    border-radius: 50px;
    width: 85%;
    padding: 0px 0px 0px 0px;
    margin-top: 41px;
  }
  .img-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }
  .my-img {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 22px 0px 20px 0px;
  }

  .technology-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 10px 0px 10px 0px;
    margin-bottom: 20px;
  }
  .technology-container-desktop {
    display: flex;
    width: 70%;
    justify-content: center;
    gap: 10px;
    text-align: center;
  }
  .technology-logo img {
    width: 30px;
  }

  .rede-social-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 0px 0px 50px 50px;
    width: 100%;
    height: 4rem;
  }
  .rede-social-container a {
    display: flex;
    justify-content: center;
  }

  .rede-social-container a img {
    width: 40px;
    transition: transform 0.3s ease;
    padding: 0px;
  }

  /* Caixa do texto sobre mim */
  .about-me {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .title-container {
    margin-bottom: 10px;
    margin: 21px 0px 6px 56px;
    width: 90%;
  }

  .text-mobile {
    font-family: "Outfit-Light";
    width: 80%;
    margin: 0px 0px 35px 56px;
  }

  #cv-btn-container-mobile {
    margin-bottom: 35px;
    background-color: #ffffff;
    border: 1.5px solid #000046;
    border-radius: 50px;
    padding: 4px 15px;
    transition: transform 0.3s ease;
  }

  #cv-btn-container-mobile:hover {
    transform: scale(1.2);
  }

  #cv-btn-container-mobile a {
    text-transform: uppercase;
    color: #000;
  }
  /* Rodapé */

  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 56px;
    background-color: #000046;
  }
  .footer-container a {
    color: #fff;
    font-family: "Outfit-Light";
  }
}
