/* Desktop */
@media (min-width: 1024px) {
  /* Faz com que certos elementos do mobile não apareçam no desktop */
  header nav .mobile-menu,
  #projects-btn-container-mobile,
  #text-mobile,
  .content-text {
    display: none;
  }

  /* Cabecalho */
  header nav {
    margin: 17px 118px 0px 76px;
  }
  header nav .nav-list {
    display: flex;
    justify-content: space-between;
    width: 475px;
  }

  .name,
  .second-name {
    font-size: 24px;
  }
  .list-option a {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 20px;
    color: #000;
    transition: transform 0.4s ease;
  }

  .list-option a:hover {
    transform: scale(1.2);
  }

  .list-option a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #000;
    transition: width 0.3s ease;
  }

  #index-option::after {
    background-color: #0b2b67;
  }

  .list-option a:hover::after {
    width: 100%;
  }

  #index-option {
    color: #0b2b67;
  }

  /* Conteudo principal */

  .galery-container {
    display: flex;
    flex-direction: column;
    margin: 0px 118px 0px 76px;
  }

  .title-box {
    border-bottom: #000046 1px solid;
    margin-bottom: 20px;
    width: 250px;
    text-align: center;
    margin: 60px 0px;
  }

  .title-box h1 {
    font-family: "Outfit-Light";
    font-size: 32px;
    text-transform: uppercase;
    color: #000046;
  }
  /* Projetos da galeria */
  .galery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 333px);
    gap: 60px 60px;
    /* justify-content: center; Alinha o elemento no meio depois que tiver mais conteudo */
    margin-bottom: 30px;
  }

  .galery a {
    transition: transform 0.4s ease;
  }
  .galery a:hover {
    transform: scale(1.1);
  }

  .project-box {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 5px 2px 5px hsla(0, 0%, 0%, 0.25);
  }

  .project-top {
    position: relative;
    height: 148px;
  }

  .project-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 30px 30px 0px 0px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 149, 0.336);
    pointer-events: none;
    border-radius: 30px 30px 0px 0px;
  }

  .project-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    border: 1px solid rgba(19, 19, 149, 0.3);
    border-radius: 0px 0px 30px 30px;
  }

  .project-bottom p {
    text-transform: uppercase;
    color: #000046;
    font-size: 20px;
    font-family: "Outfit-Light";
  }

  .project-bottom span {
    margin: 0px 6px;
    font-size: 20px;
  }

  .technologys {
    display: flex;
    gap: 10px;
  }
  .technology-used {
    width: 25px;
  }

  .more-projects {
    display: flex;
    justify-content: end;
    margin: 16px 0px 40px 0px;
  }

  .more-projects a {
    font-family: "Outfit-Regular";
    color: #000046;
    font-size: 20px;
    letter-spacing: 1;
    transition: transform 0.3s ease;
    border-bottom: #000046 1px solid;
  }
  .more-projects a:hover {
    transform: scale(1.2);
  }

  /* Rodapé */
  .footer-container {
    height: 36px;
    background-color: #000046;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .footer-container a {
    color: #fff;
    font-family: "Outfit-Light";
    margin: 0px 20px;
  }
}

/* Mobile */
@media (max-width: 1023px) {
  /* Reset da página mobile */
  html,
  body {
    overflow-x: hidden;
  }

  /* Galeria de projetos */
  .galery-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top: #d0d0ea 4px solid;
    border-bottom: #d0d0ea 4px solid;
  }

  /* Titulo e texto */
  .text-container-galery {
    width: 88%;
    text-align: center;
    height: 193px;
    margin-top: 30px;
  }
  .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .title-box {
    border-bottom: #000046 1px solid;
    margin-bottom: 20px;
  }
  .title-box h1 {
    font-family: "Outfit-Light";
    font-size: 32px;
    text-transform: uppercase;
    color: #000046;
  }
  .content-text {
    width: 350px;
  }

  .content-text p {
    font-family: "Outfit-Light";
    font-size: 18px;
  }

  /* Projetos da galeria */

  .galery {
    width: 100%; /* <-- ESSENCIAL para liberar espaço horizontal */
    display: grid;
    grid-template-columns: repeat(auto-fit, 333px);
    gap: 60px 60px;
    justify-content: center; /* centraliza os cards quando sobra espaço */
    margin-bottom: 30px;
  }

  .project-box {
    width: 100%;
    height: 210px;
    border-radius: 30px;
    box-shadow: 5px 2px 5px hsla(0, 0%, 0%, 0.25);
  }

  .project-top {
    position: relative;
    height: 148px;
  }

  .project-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 30px 30px 0px 0px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 149, 0.336);
    pointer-events: none;
    border-radius: 30px 30px 0px 0px;
  }

  .project-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    border: 1px solid rgba(19, 19, 149, 0.3);
    border-radius: 0px 0px 30px 30px;
  }

  .project-bottom p,
  span {
    text-transform: uppercase;
    color: #000046;
    font-family: "Outfit-Light";
  }

  .project-bottom span {
    margin: 0px 6px;
    font-size: 20px;
  }

  .technologys {
    display: flex;
    gap: 10px;
  }
  .technology-used {
    width: 25px;
  }

  /* Ancora de ver mais */
  .more-projects {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    border-bottom: #000046 1px solid;
    transition: transform 0.3s ease;
  }

  .more-projects:hover {
    transform: scale(1.2);
  }

  .more-projects a {
    font-family: "Outfit-Regular";
    color: #000046;
    font-size: 20px;
    letter-spacing: 1;
  }
  /* Rodapé */
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 56px;
    background-color: #000046;
  }
  .footer-container a {
    color: #fff;
    font-family: "Outfit-Light";
  }
}
