/* Reset da página */
main {
  flex-grow: 1;
}

.page-reset {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Faz com que a barra de scroll só apareça quando necessario */
html,
body {
  overflow-x: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
}

/* Barra de navegação */
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  margin: 10px 20px;
}
/* Titulo */

header nav .title {
  white-space: normal;
  margin: 10px 0px 0px 10px;
}

.title .name,
.title .second-name {
  display: inline-block;
  text-transform: uppercase;
}

header nav .title .name {
  font-family: "Outfit-SemiBold";
  color: #000000;
}

header nav .title .second-name {
  color: #000046;
  text-decoration: underline 1px;
  text-underline-offset: 4px;
}

/* Conteudo principal */

/* Meu nome no perfil */
.img-box p {
  font-family: "Outfit-SemiBold";
  text-transform: uppercase;
  font-size: clamp(20px, 5vw, 25px);
  color: #000046;
  border-bottom: 1px solid #000046;
}

/* Titulo da caixa de texto */

.title-container h1 {
  font-size: clamp(28px, 5vw, 32px);
  text-transform: uppercase;
  color: #000046;
}
/* Efeito de digitacao */
#text-typing {
  white-space: nowrap;
  display: inline-block;
  border-right: 1px solid #000046;
  overflow: hidden;

  width: 0ch;
  animation: mark 0.7s step-end infinite, write 10s steps(11, end) infinite;
}

@keyframes mark {
  50% {
    border-right-color: transparent;
  }
}

@keyframes write {
  20% {
    width: 9.5ch;
  }
  80% {
    width: 9.5ch;
  }

  85% {
    width: 0;
  }

  115% {
    width: 9.5ch;
  }
}
/* Conteudo da caixa de texto */
.projects-btn-container a {
  text-transform: uppercase;
  color: #000;
}
/* Contatos */
.contact-box a {
  color: #000;
}

@media (min-width: 1024px) {
  /* Faz com que certos elementos do mobile não apareçam no desktop */
  header nav .mobile-menu,
  .content-container .about-me-container #projects-btn-container-mobile,
  .content-container .about-me-container .about-me .text-container #text-mobile,
  #cv-btn-container-mobile,
  .text-mobile,
  .content-text {
    display: none;
  }

  /* Cabecalho */
  header nav {
    margin: 17px 118px 0px 76px;
  }
  header nav .nav-list {
    display: flex;
    justify-content: space-between;
    width: 475px;
  }

  .name,
  .second-name {
    font-size: 1.5rem;
  }
  .list-option a {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #000;
    transition: transform 0.4s ease;
  }

  .list-option a:hover {
    transform: scale(1.2);
  }

  .list-option a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #000;
    transition: width 0.3s ease;
  }

  #index-option::after {
    background-color: #0b2b67;
  }

  .list-option a:hover::after {
    width: 100%;
  }

  #index-option {
    color: #0b2b67;
  }

  .name,
  .second-name {
    font-size: 1.5rem;
  }

  /* Conteudo principal */
  /* Ajuste da altura da página de projetos */
  #galery-projects-page {
    height: calc(100vh - 93px);
  }

  .galery-container {
    display: flex;
    flex-direction: column;
    margin: 0px 5rem 10rem 5rem;
  }

  .title-box {
    border-bottom: #000046 1px solid;
    margin-bottom: 20px;
    width: 250px;
    text-align: center;
    margin: 60px 0px;
  }

  .title-box h1 {
    font-family: "Outfit-Light";
    font-size: 2rem;
    text-transform: uppercase;
    color: #000046;
  }
  /* Projetos da galeria */
  .galery {
    display: grid;
    grid-template-columns: repeat(auto-fit, 333px);
    gap: 60px 60px;
    /* justify-content: center; Alinha o elemento no meio depois que tiver mais conteudo */
    margin-bottom: 30px;
    width: 100%;
    justify-content: center;
  }

  .project-box {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    box-shadow: 5px 2px 5px hsla(0, 0%, 0%, 0.25);
    transition: transform 0.4s ease;
  }

  .project-box:hover {
    transform: scale(1.1);
  }

  .project-top {
    position: relative;
    height: 148px;
  }

  .project-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 30px 30px 0px 0px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 149, 0.336);
    pointer-events: none;
    border-radius: 30px 30px 0px 0px;
  }

  .project-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    border: 1px solid rgba(19, 19, 149, 0.3);
    border-radius: 0px 0px 30px 30px;
  }

  .project-bottom p {
    text-transform: uppercase;
    color: #000046;
    font-size: 1.1rem;
    font-family: "Outfit-Light";

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    text-align: center;
    padding-left: 1.5rem;
  }

  .project-bottom span {
    margin: 0px 6px;
    font-size: 1.3rem;
  }

  .technologys {
    display: flex;
    gap: 10px;
    padding-right: 1.5rem;
  }
  .technology-used {
    width: 25px;
  }

  .more-projects {
    display: flex;
    justify-content: end;
    margin: 16px 0px 40px 0px;
  }

  .more-projects a {
    font-family: "Outfit-Regular";
    color: #000046;
    font-size: 1.3rem;
    letter-spacing: 1;
    transition: transform 0.3s ease;
    border-bottom: #000046 1px solid;
  }
  .more-projects a:hover {
    transform: scale(1.2);
  }

  /* Rodapé */
  .footer-container {
    height: 36px;
    background-color: #000046;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .footer-container a {
    color: #fff;
    font-family: "Outfit-Light";
    margin: 0px 20px;
  }
}

/* Mobile */
@media (max-width: 1023px) {
  /* Reset da página mobile */
  html,
  body {
    overflow-x: hidden;
  }
  header {
    z-index: 1000; /* para ficar acima dos outros elementos */
  }

  .content-container {
    background-image: url(../../img/backgrund-mobile.png);
    background-size: cover;
  }
  .projects-btn-container-desktop,
  #text-desktop,
  .contacts-container-desktop,
  .rede-social-icon-box p {
    display: none; /* Faz com que certos elementos do desktop não apareçam no mobile */
  }

  .name,
  .second-name {
    font-size: 1.5rem;
  }

  .mobile-menu {
    display: flex;
    justify-items: center;
    align-content: center;
  }

  .menu-icon {
    color: #ffffff;
    width: 35px;
    padding: 10px;
    transition: transform 0.3s ease;
  }

  .menu-icon:hover {
    cursor: pointer;
  }

  .nav-list {
    position: absolute;
    top: 8.5vh;
    right: 0;
    width: 25vh;
    height: 30vh;
    background-color: rgb(0, 0, 70);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    overflow: hidden;
    max-width: 0;
    padding: 0;
    border: none;
    transition: max-width 0.3s ease, padding 0.3s ease;
  }

  .nav-list.active {
    display: flex;
    max-width: 30vh;
    margin-right: 3vh;
  }

  .nav-list li {
    display: flex;
    margin: 0px;
    opacity: 0;
  }
  .nav-list a {
    font-family: "Outfit-Regular";
    text-transform: uppercase;
    color: #ffffff;
    font-size: 0.9rem;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .mobile-menu.active .menu-icon {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
  }

  /* Galeria de projetos */
  #galery-projects-page {
    height: auto;
  }

  .galery-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  /* Titulo e texto */
  .text-container-galery {
    width: 88%;
    height: 193px;
    margin-top: 30px;
  }
  .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .title-box {
    border-bottom: #000046 1px solid;
    margin-bottom: 20px;
  }
  .title-box h1 {
    font-family: "Outfit-Light";
    font-size: 2rem;
    text-transform: uppercase;
    color: #000046;
  }
  .content-text {
    width: 350px;
  }

  .content-text p {
    font-family: "Outfit-Light";
    font-size: 1.1rem;
    margin: 0px 20px;
    text-align: center;
  }

  /* Projetos da galeria */

  .galery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 333px);
    gap: 60px 60px;
    justify-content: center;
  }

  .project-box {
    width: 100%;
    height: 210px;
    border-radius: 30px;
    box-shadow: 5px 2px 5px hsla(0, 0%, 0%, 0.25);
  }

  .project-top {
    position: relative;
    height: 148px;
  }

  .project-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 30px 30px 0px 0px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 149, 0.336);
    pointer-events: none;
    border-radius: 30px 30px 0px 0px;
  }

  .project-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;
    border: 1px solid rgba(19, 19, 149, 0.3);
    border-radius: 0px 0px 30px 30px;
  }

  .project-bottom p,
  .project-bottom span {
    text-transform: uppercase;
    color: #000046;
    font-family: "Outfit-Light";
  }

  .project-bottom p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    text-align: center;
    padding-left: 1.5rem;
  }

  .project-bottom span {
    margin: 0px 6px;
    font-size: 1.3rem;
  }

  .technologys {
    display: flex;
    gap: 10px;
    padding-right: 1.5rem;
  }
  .technology-used {
    width: 25px;
  }

  /* Ancora de ver mais */
  .more-projects {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    border-bottom: #000046 1px solid;
    transition: transform 0.3s ease;
  }

  .more-projects:hover {
    transform: scale(1.2);
  }

  .more-projects a {
    font-family: "Outfit-Regular";
    color: #000046;
    font-size: 1.3rem;
    letter-spacing: 1;
  }
  /* Rodapé */
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 56px;
    background-color: #000046;
    margin-top: 60px;
  }
  .footer-container a {
    color: #fff;
    font-family: "Outfit-Light";
  }
}
